html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  width: 400px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.screen {
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  padding: 0.7rem 0.3rem;
  font-size: 2.5rem;
}

.calc-buttons-row {
  display: flex;
  border: none;
  justify-content: space-between;
}

button {
  font-size: 2rem;
  flex-basis: 25%;
  height: 4rem;
  font-weight: 600;
  background-color: #d8d9db;
  border: 1px solid black;
}

button:hover {
  background-color: #ebebeb;
}

button:active {
  background-color: #bbbcbe;
}

button:last-child {
  background-color: #df974c;
}

button:last-child:hover {
  background-color: #dfb07e;
}

button:last-child:active {
  background-color: #dd8d37;
}

.double {
  flex-basis: 50%;
}

.triple {
  flex-basis: 75%;
}
